body {
  margin: 0;
  padding: 0;

  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);

  font-family: 'Grenze Gotisch', cursive;
  font-size: 1.5rem;
  color: white;
  text-align: center;
}

.profiles--container {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profile {
  max-width: 300px;
  max-height: 300px;
  margin: auto 30px;
  object-fit: cover;
  border-radius: 4px;
  background-size: cover;
  border: 3px double white;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
}

#title {
  margin-top: -17px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.result {
  word-spacing: 0.2rem;
}

.btn {
  padding: 0.5em 1em;
  font-size: large;
  background-color: #fff;
  outline: none;
  font-weight: 900;
  border-radius: 0.5em;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 1em;
}
a:active {
  color: white;
}
a {
  color: white;
}
footer {
  font-family: 'Courier New', Courier, monospace;
}

@keyframes name-of-animation {
  0% {
    filter: blur(6px);
    opacity: 0;
  }
  25% {
    filter: blur(4px);
  }
  50% {
    filter: blur(2px);
  }
  100% {
    filter: blur(0px);
  }
}

.animate-this-element {
  animation: name-of-animation ease-out 0.8s;
}
@media only screen and (max-width: 600px) {
  .profiles--container {
    display: flex;
    flex-direction: column;
  }
}
